<div class = "recs">
<h3> Create a Recommendation </h3>
<form action="/create" method="post">
  <input type="text" name="place" placeholder="name of place" value=""></input>
  <input type="text" name="type_of_place" placeholder="type of place" value=""></input>
  <input type="text" name="contributor" placeholder="enter your name" value=""></input>
  <input type="text" name="notes" placeholder="any notes?" value=""></input>
  <input type="submit"></input>
</form>
</div>
