<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
<link href='https://fonts.googleapis.com/css?family=Lobster|Trochut:400,700|Dosis:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1> Chicago Recommendations </h1>
    <%= yield %>
  </body>
</html>
