<div class = "recs">
<input type="text" placeholder="search by place"></input>
<input id="search_place" type="submit" value="search"></input>
<input type="text" placeholder="search by id"></input>
<input id="search_id" type="submit" value="search"></input>
</div>
